@import "tailwindcss";

@theme {
  --font-mono: "Andale Mono", "Courier New", monospace;

  --color-beige: #f2ece2;
  --color-ui-grey: #c8c4bc;
  --color-grey-dark: #6b6b6b;
  --color-grey-light: #aaa9a4;

  --animate-slide-left: slide-left 40s linear infinite;
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

body {
  font-family: "Andale Mono", "Courier New", monospace;
}
